<strong>Recuperando senha</strong>

<p>Uma solicitacao de recuperacao de senha foi realizada para o email ({{email}})</p>
<p>para continuar a recuperacao de senha, use esse codigo {{token}} ou click no link abaixo</p>

<a href="{{link}}">criar nova senha</a>
